<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sunland.lawreference">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="flavour"
            android:value="${FLAVOUR_VALUE}" />
        <meta-data
            android:name="category"
            android:value="${CATEGORY_VALUE}" />
        <meta-data
            android:name="plateform"
            android:value="${PLATEFORM_VALUE}" />

        <activity
            android:name=".activities.Ac_splash"
            android:theme="@style/AppTheme.splash">
            <intent-filter>
                <action android:name="${PLATEFORM_VALUE}.intent.action.MAIN" />
                <category android:name="${PLATEFORM_VALUE}.intent.category.${CATEGORY_VALUE}" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.Ac_main" />
        <activity
            android:name=".activities.Ac_login"
            android:windowSoftInputMode="stateAlwaysHidden|adjustResize" />
        <activity android:name=".activities.Ac_info_detail" />
        <activity android:name=".activities.Ac_collect" />
        <activity android:name=".activities.Ac_browser_track" />
    </application>

</manifest>